*{
    padding: 0;
    margin: 0;
}

body{
  font-family: "Gabarito", sans-serif;
}

.novbar{
    padding:10px;
    display:flex;
    justify-content: space-between;
    border-bottom:solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.novbar_s1__title{
    color:#A435F0;
}

.novbar_s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width:60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.novbar_s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background: transparent;
}

.novbar_s2 input:focus{
    outline: none;
}

.novbar_s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

/*Mylearning__Popup*/

.mylearning{
    position: relative;
    cursor: pointer;
    
}

.mylearning__popup{
    position: absolute;
    border: solid black 1px;
    background-color: white;
    top: 150%;
    left: 0px;
    right: 0px;
    padding: 10px;
    display: none;

}

.mylearning:hover {
    color:gray;
}

.mylearning:hover .mylearning__popup{
    display: block;
    color: black;
}

.categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;   
}

.categories p{
    padding: 10px;
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
}
.sale_image{
    position:relative;
}

.sale_image img{
    width: 100%;
}

.sale__image__offer{
    width: 30%;
    border: solid black 2px;
    background-color: #D2C9FE;
    padding: 2%;
    position: absolute;
    top: 20%;
    left: 5%;
}

.recommended{
    padding: 10px;
}

.course_card{
    width: 250px;
    
}

.course_card img{
    height: 50%;
    width: 100%;
}

.recommended_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.topics_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

}

.topics_container p{
    padding: 10px;
    border: solid gray 2px;
    flex-grow: 1;
    flex-basis: 25%;
}

.topics{
    padding: 10px;
}

.popular{
    padding: 10px;
}

.popular_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer_one{
    display: flex;
    gap:10px;
}

.footer_two{
    margin: 20px;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.footer_one p{
    margin:20px;
}